version: '2.3'
services:
  test-cpu-base:
    build:
      context: .
      dockerfile: Dockerfile.test.cpu
    privileged: true
  test-cpu-openmpi-py2_7-tf1_1_0-keras2_0_0-torch0_4_0-mxnet1_4_1-pyspark2_1_2:
    extends: test-cpu-base
    build:
      args:
        MPI_KIND: OpenMPI
        PYTHON_VERSION: 2.7
        TENSORFLOW_PACKAGE: tensorflow==1.1.0
        KERAS_PACKAGE: keras==2.0.0
        PYTORCH_PACKAGE: torch==0.4.0
        TORCHVISION_PACKAGE: torchvision==0.2.2.post3
        MXNET_PACKAGE: mxnet==1.4.1
        PYSPARK_PACKAGE: pyspark==2.1.2
  test-cpu-openmpi-py3_5-tf1_1_0-keras2_0_0-torch0_4_0-mxnet1_4_1-pyspark2_1_2:
    extends: test-cpu-base
    build:
      args:
        MPI_KIND: OpenMPI
        PYTHON_VERSION: 3.5
        TENSORFLOW_PACKAGE: tensorflow==1.1.0
        KERAS_PACKAGE: keras==2.0.0
        PYTORCH_PACKAGE: torch==0.4.0
        TORCHVISION_PACKAGE: torchvision==0.2.2.post3
        MXNET_PACKAGE: mxnet==1.4.1
        PYSPARK_PACKAGE: pyspark==2.1.2
  test-cpu-openmpi-py3_6-tf1_1_0-keras2_0_0-torch0_4_0-mxnet1_4_1-pyspark2_1_2:
    extends: test-cpu-base
    build:
      args:
        UBUNTU_VERSION: 18.04
        MPI_KIND: OpenMPI
        PYTHON_VERSION: 3.6
        TENSORFLOW_PACKAGE: tensorflow==1.1.0
        KERAS_PACKAGE: keras==2.0.0
        PYTORCH_PACKAGE: torch==0.4.0
        TORCHVISION_PACKAGE: torchvision==0.2.2.post3
        MXNET_PACKAGE: mxnet==1.4.1
        PYSPARK_PACKAGE: pyspark==2.1.2
  test-cpu-openmpi-py2_7-tf1_6_0-keras2_1_2-torch0_4_1-mxnet1_4_1-pyspark2_3_2:
    extends: test-cpu-base
    build:
      args:
        MPI_KIND: OpenMPI
        PYTHON_VERSION: 2.7
        TENSORFLOW_PACKAGE: tensorflow==1.6.0
        KERAS_PACKAGE: keras==2.1.2
        PYTORCH_PACKAGE: torch==0.4.1
        TORCHVISION_PACKAGE: torchvision==0.2.2.post3
        MXNET_PACKAGE: mxnet==1.4.1
        PYSPARK_PACKAGE: pyspark==2.3.2
  test-cpu-openmpi-py3_5-tf1_6_0-keras2_1_2-torch0_4_1-mxnet1_4_1-pyspark2_3_2:
    extends: test-cpu-base
    build:
      args:
        MPI_KIND: OpenMPI
        PYTHON_VERSION: 3.5
        TENSORFLOW_PACKAGE: tensorflow==1.6.0
        KERAS_PACKAGE: keras==2.1.2
        PYTORCH_PACKAGE: torch==0.4.1
        TORCHVISION_PACKAGE: torchvision==0.2.2.post3
        MXNET_PACKAGE: mxnet==1.4.1
        PYSPARK_PACKAGE: pyspark==2.3.2
  test-cpu-openmpi-py3_6-tf1_6_0-keras2_1_2-torch0_4_1-mxnet1_4_1-pyspark2_3_2:
    extends: test-cpu-base
    build:
      args:
        UBUNTU_VERSION: 18.04
        MPI_KIND: OpenMPI
        PYTHON_VERSION: 3.6
        TENSORFLOW_PACKAGE: tensorflow==1.6.0
        KERAS_PACKAGE: keras==2.1.2
        PYTORCH_PACKAGE: torch==0.4.1
        TORCHVISION_PACKAGE: torchvision==0.2.2.post3
        MXNET_PACKAGE: mxnet==1.4.1
        PYSPARK_PACKAGE: pyspark==2.3.2
  test-cpu-openmpi-py2_7-tf1_14_0-keras2_2_4-torch1_1_0-mxnet1_4_1-pyspark2_4_0:
    extends: test-cpu-base
    build:
      args:
        MPI_KIND: OpenMPI
        PYTHON_VERSION: 2.7
        TENSORFLOW_PACKAGE: tensorflow==1.14.0
        KERAS_PACKAGE: keras==2.2.4
        PYTORCH_PACKAGE: torch==1.1.0
        TORCHVISION_PACKAGE: https://download.pytorch.org/whl/cpu/torchvision-0.3.0-cp27-cp27mu-linux_x86_64.whl
        MXNET_PACKAGE: mxnet==1.4.1
        PYSPARK_PACKAGE: pyspark==2.4.0
  test-cpu-openmpi-py3_5-tf1_14_0-keras2_2_4-torch1_1_0-mxnet1_4_1-pyspark2_4_0:
    extends: test-cpu-base
    build:
      args:
        MPI_KIND: OpenMPI
        PYTHON_VERSION: 3.5
        TENSORFLOW_PACKAGE: tensorflow==1.14.0
        KERAS_PACKAGE: keras==2.2.4
        PYTORCH_PACKAGE: torch==1.1.0
        TORCHVISION_PACKAGE: https://download.pytorch.org/whl/cpu/torchvision-0.3.0-cp35-cp35m-linux_x86_64.whl
        MXNET_PACKAGE: mxnet==1.4.1
        PYSPARK_PACKAGE: pyspark==2.4.0
  test-cpu-openmpi-py3_6-tf1_14_0-keras2_2_4-torch1_1_0-mxnet1_4_1-pyspark2_4_0:
    extends: test-cpu-base
    build:
      args:
        UBUNTU_VERSION: 18.04
        MPI_KIND: OpenMPI
        PYTHON_VERSION: 3.6
        TENSORFLOW_PACKAGE: tensorflow==1.14.0
        KERAS_PACKAGE: keras==2.2.4
        PYTORCH_PACKAGE: torch==1.1.0
        TORCHVISION_PACKAGE: https://download.pytorch.org/whl/cpu/torchvision-0.3.0-cp36-cp36m-linux_x86_64.whl
        MXNET_PACKAGE: mxnet==1.4.1
        PYSPARK_PACKAGE: pyspark==2.4.0
  test-cpu-openmpi-gloo-py2_7-tf1_14_0-keras2_2_4-torch1_1_0-mxnet1_4_1-pyspark2_4_0:
    extends: test-cpu-base
    build:
      args:
        MPI_KIND: OpenMPI
        PYTHON_VERSION: 2.7
        TENSORFLOW_PACKAGE: tensorflow==1.14.0
        KERAS_PACKAGE: keras==2.2.4
        PYTORCH_PACKAGE: torch==1.1.0
        TORCHVISION_PACKAGE: https://download.pytorch.org/whl/cpu/torchvision-0.3.0-cp27-cp27mu-linux_x86_64.whl
        MXNET_PACKAGE: mxnet==1.4.1
        PYSPARK_PACKAGE: pyspark==2.4.0
  test-cpu-openmpi-gloo-py3_5-tf1_14_0-keras2_2_4-torch1_1_0-mxnet1_4_1-pyspark2_4_0:
    extends: test-cpu-base
    build:
      args:
        MPI_KIND: OpenMPI
        PYTHON_VERSION: 3.5
        TENSORFLOW_PACKAGE: tensorflow==1.14.0
        KERAS_PACKAGE: keras==2.2.4
        PYTORCH_PACKAGE: torch==1.1.0
        TORCHVISION_PACKAGE: https://download.pytorch.org/whl/cpu/torchvision-0.3.0-cp35-cp35m-linux_x86_64.whl
        MXNET_PACKAGE: mxnet==1.4.1
        PYSPARK_PACKAGE: pyspark==2.4.0
  test-cpu-openmpi-gloo-py3_6-tf1_14_0-keras2_2_4-torch1_1_0-mxnet1_4_1-pyspark2_4_0:
    extends: test-cpu-base
    build:
      args:
        UBUNTU_VERSION: 18.04
        MPI_KIND: OpenMPI
        PYTHON_VERSION: 3.6
        TENSORFLOW_PACKAGE: tensorflow==1.14.0
        KERAS_PACKAGE: keras==2.2.4
        PYTORCH_PACKAGE: torch==1.1.0
        TORCHVISION_PACKAGE: https://download.pytorch.org/whl/cpu/torchvision-0.3.0-cp36-cp36m-linux_x86_64.whl
        MXNET_PACKAGE: mxnet==1.4.1
        PYSPARK_PACKAGE: pyspark==2.4.0
  test-cpu-gloo-py2_7-tf1_14_0-keras2_2_4-torch1_1_0-mxnet1_4_1-pyspark2_4_0:
    extends: test-cpu-base
    build:
      args:
        MPI_KIND: None
        PYTHON_VERSION: 2.7
        TENSORFLOW_PACKAGE: tensorflow==1.14.0
        KERAS_PACKAGE: keras==2.2.4
        PYTORCH_PACKAGE: torch==1.1.0
        TORCHVISION_PACKAGE: https://download.pytorch.org/whl/cpu/torchvision-0.3.0-cp27-cp27mu-linux_x86_64.whl
        MXNET_PACKAGE: mxnet==1.4.1
        PYSPARK_PACKAGE: pyspark==2.4.0
  test-cpu-gloo-py3_5-tf1_14_0-keras2_2_4-torch1_1_0-mxnet1_4_1-pyspark2_4_0:
    extends: test-cpu-base
    build:
      args:
        MPI_KIND: None
        PYTHON_VERSION: 3.5
        TENSORFLOW_PACKAGE: tensorflow==1.14.0
        KERAS_PACKAGE: keras==2.2.4
        PYTORCH_PACKAGE: torch==1.1.0
        TORCHVISION_PACKAGE: https://download.pytorch.org/whl/cpu/torchvision-0.3.0-cp35-cp35m-linux_x86_64.whl
        MXNET_PACKAGE: mxnet==1.4.1
        PYSPARK_PACKAGE: pyspark==2.4.0
  test-cpu-gloo-py3_6-tf1_14_0-keras2_2_4-torch1_1_0-mxnet1_4_1-pyspark2_4_0:
    extends: test-cpu-base
    build:
      args:
        UBUNTU_VERSION: 18.04
        MPI_KIND: None
        PYTHON_VERSION: 3.6
        TENSORFLOW_PACKAGE: tensorflow==1.14.0
        KERAS_PACKAGE: keras==2.2.4
        PYTORCH_PACKAGE: torch==1.1.0
        TORCHVISION_PACKAGE: https://download.pytorch.org/whl/cpu/torchvision-0.3.0-cp36-cp36m-linux_x86_64.whl
        MXNET_PACKAGE: mxnet==1.4.1
        PYSPARK_PACKAGE: pyspark==2.4.0
  test-cpu-openmpi-py2_7-tf2_0_0-keras2_2_4-torch1_1_0-mxnet1_5_0-pyspark2_4_0:
    extends: test-cpu-base
    build:
      args:
        MPI_KIND: OpenMPI
        PYTHON_VERSION: 2.7
        TENSORFLOW_PACKAGE: tf-nightly-2.0-preview
        KERAS_PACKAGE: keras==2.2.4
        PYTORCH_PACKAGE: torch==1.1.0
        TORCHVISION_PACKAGE: https://download.pytorch.org/whl/cpu/torchvision-0.3.0-cp27-cp27mu-linux_x86_64.whl
        MXNET_PACKAGE: mxnet==1.5.0
        PYSPARK_PACKAGE: pyspark==2.4.0
  test-cpu-openmpi-py3_5-tf2_0_0-keras2_2_4-torch1_1_0-mxnet1_5_0-pyspark2_4_0:
    extends: test-cpu-base
    build:
      args:
        MPI_KIND: OpenMPI
        PYTHON_VERSION: 3.5
        TENSORFLOW_PACKAGE: tf-nightly-2.0-preview
        KERAS_PACKAGE: keras==2.2.4
        PYTORCH_PACKAGE: torch==1.1.0
        TORCHVISION_PACKAGE: https://download.pytorch.org/whl/cpu/torchvision-0.3.0-cp35-cp35m-linux_x86_64.whl
        MXNET_PACKAGE: mxnet==1.5.0
        PYSPARK_PACKAGE: pyspark==2.4.0
  test-cpu-openmpi-py3_6-tf2_0_0-keras2_2_4-torch1_1_0-mxnet1_5_0-pyspark2_4_0:
    extends: test-cpu-base
    build:
      args:
        UBUNTU_VERSION: 18.04
        MPI_KIND: OpenMPI
        PYTHON_VERSION: 3.6
        TENSORFLOW_PACKAGE: tf-nightly-2.0-preview
        KERAS_PACKAGE: keras==2.2.4
        PYTORCH_PACKAGE: torch==1.1.0
        TORCHVISION_PACKAGE: https://download.pytorch.org/whl/cpu/torchvision-0.3.0-cp36-cp36m-linux_x86_64.whl
        MXNET_PACKAGE: mxnet==1.5.0
        PYSPARK_PACKAGE: pyspark==2.4.0
  test-cpu-openmpi-py2_7-tfhead-kerashead-torchhead-mxnethead-pyspark2_4_0:
    extends: test-cpu-base
    build:
      args:
        MPI_KIND: OpenMPI
        PYTHON_VERSION: 2.7
        TENSORFLOW_PACKAGE: tf-nightly
        KERAS_PACKAGE: git+https://github.com/keras-team/keras.git
        PYTORCH_PACKAGE: torch-nightly
        TORCHVISION_PACKAGE: git+https://github.com/pytorch/vision.git
        MXNET_PACKAGE: mxnet --pre
        PYSPARK_PACKAGE: pyspark==2.4.0
  test-cpu-openmpi-py3_6-tfhead-kerashead-torchhead-mxnethead-pyspark2_4_0:
    extends: test-cpu-base
    build:
      args:
        UBUNTU_VERSION: 18.04
        MPI_KIND: OpenMPI
        PYTHON_VERSION: 3.6
        TENSORFLOW_PACKAGE: tf-nightly
        KERAS_PACKAGE: git+https://github.com/keras-team/keras.git
        PYTORCH_PACKAGE: torch-nightly
        TORCHVISION_PACKAGE: git+https://github.com/pytorch/vision.git
        MXNET_PACKAGE: mxnet --pre
        PYSPARK_PACKAGE: pyspark==2.4.0
  test-cpu-mpich-py3_6-tf1_14_0-keras2_2_4-torch1_1_0-mxnet1_5_0-pyspark2_4_0:
    extends: test-cpu-base
    build:
      args:
        UBUNTU_VERSION: 18.04
        MPI_KIND: MPICH
        PYTHON_VERSION: 3.6
        TENSORFLOW_PACKAGE: tensorflow==1.14.0
        KERAS_PACKAGE: keras==2.2.4
        PYTORCH_PACKAGE: torch==1.1.0
        TORCHVISION_PACKAGE: https://download.pytorch.org/whl/cpu/torchvision-0.3.0-cp36-cp36m-linux_x86_64.whl
        MXNET_PACKAGE: mxnet==1.5.0
        PYSPARK_PACKAGE: pyspark==2.4.0
  test-cpu-mlsl-py3_6-tf1_14_0-keras2_2_4-torch1_1_0-mxnet1_5_0-pyspark2_4_0:
    extends: test-cpu-base
    build:
      args:
        UBUNTU_VERSION: 18.04
        MPI_KIND: MLSL
        PYTHON_VERSION: 3.6
        TENSORFLOW_PACKAGE: tensorflow==1.14.0
        KERAS_PACKAGE: keras==2.2.4
        PYTORCH_PACKAGE: torch==1.1.0
        TORCHVISION_PACKAGE: https://download.pytorch.org/whl/cpu/torchvision-0.3.0-cp36-cp36m-linux_x86_64.whl
        MXNET_PACKAGE: mxnet==1.5.0
        PYSPARK_PACKAGE: pyspark==2.4.0

  test-gpu-base:
    build:
      context: .
      dockerfile: Dockerfile.test.gpu
    runtime: nvidia
    # We plumb CUDA_VISIBLE_DEVICES instead of NVIDIA_VISIBLE_DEVICES because
    # the latter does not work in privileged mode that we use in the containers.
    environment:
      - CUDA_VISIBLE_DEVICES
    privileged: true
  test-gpu-openmpi-py2_7-tf1_6_0-keras2_1_2-torch0_4_1-mxnet1_4_1-pyspark2_3_2:
    extends: test-gpu-base
    build:
      args:
        CUDA_DOCKER_VERSION: 9.0-devel-ubuntu16.04
        CUDNN_VERSION: 7.0.5.15-1+cuda9.0
        NCCL_VERSION_OVERRIDE: 2.4.7-1+cuda9.0
        MPI_KIND: OpenMPI
        PYTHON_VERSION: 2.7
        TENSORFLOW_PACKAGE: tensorflow-gpu==1.6.0
        KERAS_PACKAGE: keras==2.1.2
        PYTORCH_PACKAGE: torch==0.4.1
        TORCHVISION_PACKAGE: torchvision==0.2.2.post3
        MXNET_PACKAGE: mxnet-cu90==1.4.1
        PYSPARK_PACKAGE: pyspark==2.3.2
  test-gpu-openmpi-py3_5-tf1_6_0-keras2_1_2-torch0_4_1-mxnet1_4_1-pyspark2_3_2:
    extends: test-gpu-base
    build:
      args:
        CUDA_DOCKER_VERSION: 9.0-devel-ubuntu16.04
        CUDNN_VERSION: 7.0.5.15-1+cuda9.0
        NCCL_VERSION_OVERRIDE: 2.4.7-1+cuda9.0
        MPI_KIND: OpenMPI
        PYTHON_VERSION: 3.5
        TENSORFLOW_PACKAGE: tensorflow-gpu==1.6.0
        KERAS_PACKAGE: keras==2.1.2
        PYTORCH_PACKAGE: torch==0.4.1
        TORCHVISION_PACKAGE: torchvision==0.2.2.post3
        MXNET_PACKAGE: mxnet-cu90==1.4.1
        PYSPARK_PACKAGE: pyspark==2.3.2
  test-gpu-openmpi-py2_7-tf1_14_0-keras2_2_4-torch1_1_0-mxnet1_4_1-pyspark2_4_0:
    extends: test-gpu-base
    build:
      args:
        MPI_KIND: OpenMPI
        PYTHON_VERSION: 2.7
        TENSORFLOW_PACKAGE: tensorflow-gpu==1.14.0
        KERAS_PACKAGE: keras==2.2.4
        PYTORCH_PACKAGE: https://download.pytorch.org/whl/cu100/torch-1.1.0-cp27-cp27mu-linux_x86_64.whl
        TORCHVISION_PACKAGE: https://download.pytorch.org/whl/cu100/torchvision-0.3.0-cp27-cp27mu-linux_x86_64.whl
        MXNET_PACKAGE: mxnet-cu100==1.4.1
        PYSPARK_PACKAGE: pyspark==2.4.0
  test-gpu-openmpi-py3_6-tf1_14_0-keras2_2_4-torch1_1_0-mxnet1_4_1-pyspark2_4_0:
    extends: test-gpu-base
    build:
      args:
        CUDA_DOCKER_VERSION: 10.0-devel-ubuntu18.04
        MPI_KIND: OpenMPI
        PYTHON_VERSION: 3.6
        TENSORFLOW_PACKAGE: tensorflow-gpu==1.14.0
        KERAS_PACKAGE: keras==2.2.4
        PYTORCH_PACKAGE: https://download.pytorch.org/whl/cu100/torch-1.1.0-cp36-cp36m-linux_x86_64.whl
        TORCHVISION_PACKAGE: https://download.pytorch.org/whl/cu100/torchvision-0.3.0-cp36-cp36m-linux_x86_64.whl
        MXNET_PACKAGE: mxnet-cu100==1.4.1
        PYSPARK_PACKAGE: pyspark==2.4.0
  test-gpu-gloo-py2_7-tf1_14_0-keras2_2_4-torch1_1_0-mxnet1_4_1-pyspark2_4_0:
    extends: test-gpu-base
    build:
      args:
        MPI_KIND: None
        PYTHON_VERSION: 2.7
        TENSORFLOW_PACKAGE: tensorflow-gpu==1.14.0
        KERAS_PACKAGE: keras==2.2.4
        PYTORCH_PACKAGE: https://download.pytorch.org/whl/cu100/torch-1.1.0-cp27-cp27mu-linux_x86_64.whl
        TORCHVISION_PACKAGE: https://download.pytorch.org/whl/cu100/torchvision-0.3.0-cp27-cp27mu-linux_x86_64.whl
        MXNET_PACKAGE: mxnet-cu100==1.4.1
        PYSPARK_PACKAGE: pyspark==2.4.0
  test-gpu-gloo-py3_6-tf1_14_0-keras2_2_4-torch1_1_0-mxnet1_4_1-pyspark2_4_0:
    extends: test-gpu-base
    build:
      args:
        CUDA_DOCKER_VERSION: 10.0-devel-ubuntu18.04
        MPI_KIND: None
        PYTHON_VERSION: 3.6
        TENSORFLOW_PACKAGE: tensorflow-gpu==1.14.0
        KERAS_PACKAGE: keras==2.2.4
        PYTORCH_PACKAGE: https://download.pytorch.org/whl/cu100/torch-1.1.0-cp36-cp36m-linux_x86_64.whl
        TORCHVISION_PACKAGE: https://download.pytorch.org/whl/cu100/torchvision-0.3.0-cp36-cp36m-linux_x86_64.whl
        MXNET_PACKAGE: mxnet-cu100==1.4.1
        PYSPARK_PACKAGE: pyspark==2.4.0
  test-gpu-openmpi-gloo-py2_7-tf1_14_0-keras2_2_4-torch1_1_0-mxnet1_4_1-pyspark2_4_0:
    extends: test-gpu-base
    build:
      args:
        MPI_KIND: OpenMPI
        PYTHON_VERSION: 2.7
        TENSORFLOW_PACKAGE: tensorflow-gpu==1.14.0
        KERAS_PACKAGE: keras==2.2.4
        PYTORCH_PACKAGE: https://download.pytorch.org/whl/cu100/torch-1.1.0-cp27-cp27mu-linux_x86_64.whl
        TORCHVISION_PACKAGE: https://download.pytorch.org/whl/cu100/torchvision-0.3.0-cp27-cp27mu-linux_x86_64.whl
        MXNET_PACKAGE: mxnet-cu100==1.4.1
        PYSPARK_PACKAGE: pyspark==2.4.0
  test-gpu-openmpi-gloo-py3_6-tf1_14_0-keras2_2_4-torch1_1_0-mxnet1_4_1-pyspark2_4_0:
    extends: test-gpu-base
    build:
      args:
        CUDA_DOCKER_VERSION: 10.0-devel-ubuntu18.04
        MPI_KIND: OpenMPI
        PYTHON_VERSION: 3.6
        TENSORFLOW_PACKAGE: tensorflow-gpu==1.14.0
        KERAS_PACKAGE: keras==2.2.4
        PYTORCH_PACKAGE: https://download.pytorch.org/whl/cu100/torch-1.1.0-cp36-cp36m-linux_x86_64.whl
        TORCHVISION_PACKAGE: https://download.pytorch.org/whl/cu100/torchvision-0.3.0-cp36-cp36m-linux_x86_64.whl
        MXNET_PACKAGE: mxnet-cu100==1.4.1
        PYSPARK_PACKAGE: pyspark==2.4.0
  test-gpu-openmpi-py2_7-tf2_0_0-keras2_2_4-torch1_1_0-mxnet1_5_0-pyspark2_4_0:
    extends: test-gpu-base
    build:
      args:
        MPI_KIND: OpenMPI
        PYTHON_VERSION: 2.7
        TENSORFLOW_PACKAGE: tf-nightly-gpu-2.0-preview
        KERAS_PACKAGE: keras==2.2.4
        PYTORCH_PACKAGE: https://download.pytorch.org/whl/cu100/torch-1.1.0-cp27-cp27mu-linux_x86_64.whl
        TORCHVISION_PACKAGE: https://download.pytorch.org/whl/cu100/torchvision-0.3.0-cp27-cp27mu-linux_x86_64.whl
        MXNET_PACKAGE: mxnet-cu100==1.5.0
        PYSPARK_PACKAGE: pyspark==2.4.0
  test-gpu-openmpi-py3_6-tf2_0_0-keras2_2_4-torch1_1_0-mxnet1_5_0-pyspark2_4_0:
    extends: test-gpu-base
    build:
      args:
        CUDA_DOCKER_VERSION: 10.0-devel-ubuntu18.04
        MPI_KIND: OpenMPI
        PYTHON_VERSION: 3.6
        TENSORFLOW_PACKAGE: tf-nightly-gpu-2.0-preview
        KERAS_PACKAGE: keras==2.2.4
        PYTORCH_PACKAGE: https://download.pytorch.org/whl/cu100/torch-1.1.0-cp36-cp36m-linux_x86_64.whl
        TORCHVISION_PACKAGE: https://download.pytorch.org/whl/cu100/torchvision-0.3.0-cp36-cp36m-linux_x86_64.whl
        MXNET_PACKAGE: mxnet-cu100==1.5.0
        PYSPARK_PACKAGE: pyspark==2.4.0
  test-gpu-openmpi-py2_7-tfhead-kerashead-torchhead-mxnethead-pyspark2_4_0:
    extends: test-gpu-base
    build:
      args:
        MPI_KIND: OpenMPI
        PYTHON_VERSION: 2.7
        TENSORFLOW_PACKAGE: tf-nightly-gpu
        KERAS_PACKAGE: git+https://github.com/keras-team/keras.git
        PYTORCH_PACKAGE: torch-nightly
        TORCHVISION_PACKAGE: git+https://github.com/pytorch/vision.git
        MXNET_PACKAGE: mxnet-cu100 --pre
        PYSPARK_PACKAGE: pyspark==2.4.0
  test-gpu-openmpi-py3_6-tfhead-kerashead-torchhead-mxnethead-pyspark2_4_0:
    extends: test-gpu-base
    build:
      args:
        CUDA_DOCKER_VERSION: 10.0-devel-ubuntu18.04
        MPI_KIND: OpenMPI
        PYTHON_VERSION: 3.6
        TENSORFLOW_PACKAGE: tf-nightly-gpu
        KERAS_PACKAGE: git+https://github.com/keras-team/keras.git
        PYTORCH_PACKAGE: torch-nightly
        TORCHVISION_PACKAGE: git+https://github.com/pytorch/vision.git
        MXNET_PACKAGE: mxnet-cu100 --pre
        PYSPARK_PACKAGE: pyspark==2.4.0
  test-gpu-mpich-py3_6-tf1_14_0-keras2_2_4-torch1_1_0-mxnet1_5_0-pyspark2_4_0:
    extends: test-gpu-base
    build:
      args:
        CUDA_DOCKER_VERSION: 10.0-devel-ubuntu18.04
        MPI_KIND: MPICH
        PYTHON_VERSION: 3.6
        TENSORFLOW_PACKAGE: tensorflow-gpu==1.14.0
        KERAS_PACKAGE: keras==2.2.4
        PYTORCH_PACKAGE: https://download.pytorch.org/whl/cu100/torch-1.1.0-cp36-cp36m-linux_x86_64.whl
        TORCHVISION_PACKAGE: https://download.pytorch.org/whl/cu100/torchvision-0.3.0-cp36-cp36m-linux_x86_64.whl
        MXNET_PACKAGE: mxnet-cu100==1.5.0
        PYSPARK_PACKAGE: pyspark==2.4.0
  test-mixed-openmpi-py3_6-tf1_14_0-keras2_2_4-torch1_1_0-mxnet1_5_0-pyspark2_4_0:
    extends: test-gpu-base
    build:
      args:
        CUDA_DOCKER_VERSION: 10.0-devel-ubuntu18.04
        MPI_KIND: OpenMPI
        PYTHON_VERSION: 3.6
        TENSORFLOW_PACKAGE: tensorflow-gpu==1.14.0
        KERAS_PACKAGE: keras==2.2.4
        PYTORCH_PACKAGE: https://download.pytorch.org/whl/cu100/torch-1.1.0-cp36-cp36m-linux_x86_64.whl
        TORCHVISION_PACKAGE: https://download.pytorch.org/whl/cu100/torchvision-0.3.0-cp36-cp36m-linux_x86_64.whl
        MXNET_PACKAGE: mxnet-cu100==1.5.0
        PYSPARK_PACKAGE: pyspark==2.4.0
        HOROVOD_BUILD_FLAGS: ""
        HOROVOD_MIXED_INSTALL: 1
