# Launcher-only build: ship only the license and docs. The C++ sources, CMake files,
# and third_party/gloo + third_party/eigen that the previous MANIFEST bundled are no
# longer part of the package.
include LICENSE
include README.rst
prune .eggs
