recursive-include * *.h *.hpp *.cc *.md

include LICENSE horovod.lds horovod.exp
prune .eggs

# prune eigen LGPL2
graft third_party/eigen/Eigen
exclude third_party/eigen/Eigen/Eigen
exclude third_party/eigen/Eigen/IterativeLinearSolvers
exclude third_party/eigen/Eigen/MetisSupport
exclude third_party/eigen/Eigen/Sparse
exclude third_party/eigen/Eigen/SparseCholesky
exclude third_party/eigen/Eigen/SparseLU
exclude third_party/eigen/Eigen/src/IterativeSolvers/*
exclude third_party/eigen/Eigen/src/OrderingMethods/Amd.h
exclude third_party/eigen/Eigen/src/SparseCholesky/*

# include cmake related files for submodule gloo
graft third_party/gloo/cmake
recursive-include third_party/gloo CMakeLists.txt
recursive-include third_party/gloo *.in
