/* Custom CSS for landing page accordion */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-family: 'Helvetica Neue';
  font-size: 16px;
}

/* Background button color if it is clicked on */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Accordion panel style */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 16px;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 16px;
  color: #777;
  float: right;
  margin-left: 5px;
  font-family: 'Helvetica Neue';
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}